<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Here is the requisite cute picture:</p>
    <img src="/rosa-holiday.jpg" alt="Rosa, the world's cutest chihuahua, posing in her holiday sweater">
  </body>
  <%- include('./_nav') %>
</html>
